.container-app {}

.container-main-actions {
	text-align: center;
	border-bottom: 1px solid black;
	display: block;
	width: 100%;
}

.container-modal-overlay {
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container-modal-alerts {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.container-alerts {
	z-index: 1;
	margin-top: 20px;
	text-align: center;
}

.alert-danger {
	background-color: lightcoral;
	padding: 20px;
}

.alert-success {
	background-color: lightgreen;
	padding: 20px;
}

.alert-info {
	background-color: lightgoldenrodyellow;
	padding: 20px;
}

.container-form {

}

.group-input {
	
}