.container-modal {
    z-index: 10;
    background-color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.8)
}

.container-modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow: auto;
}

.container-modal-title {
    border-bottom: 1px solid black;
    font-size: 30px;
}

.modal-title-close-button {
    float: right;
}